body {
	color: #3A3A3A;
}
.container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.columnWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.headerCircle {
	background-color: #3A3A3A;
	color: #FFFFFF;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.headerActions {
	display: flex;
	align-items: center;
	color: #3A3A3A;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 5px;
}
.mainContent {
	width: 50%;
}
.blogContent {
	width: 600px;
}
.post {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}
.postHeader {
	margin-bottom: 20px;
	display: flex;
}
.postHeader--blog {
	margin-bottom: 0;
}
.postHeader__img {
	background-color: #F0F0F0;
	margin-right: 20px;
}
.postHeader__title {
	font-size: 42px;
}
.postHeader__title--blogPost {
	font-size: 30px;
}
.postHeader__date {
	font-size: 24px;
	font-style: italic;
	color: #9C9CA2;
}
.morePosts {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #EE4937;
	margin-bottom: 60px;
}
.postPreview {
	font-size: 24px;
}
.footer {
	width: 100%;
	border-top: 1px solid #9C9CA2;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.footerActions {
	display: flex;
}
.footerLink {
	display: flex;
	align-items: center;
}
.footerLink__text {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #EE4937;
}
.fullPost {
	margin-bottom: 20px;
}
.postTags__tag {
	color: #EE4937;
}
.orange {
	color: #EE4937;	
}
a {
	color: #EE4937;
	text-decoration: none;	
}
.responses {
	margin-bottom: 60px;
}
.responses__title {
	font-size: 24px;
}
.replyForm__title {
	font-size: 24px;
	margin-bottom: 20px;
}
.replyForm__input {
	margin-bottom: 5px;
}
.formComment {
	width: 400px;
	height: 100px;
}
.submit {
	background-color: #000000;
	color: #FFFFFF;
	border: none;
	padding: 7px;
}
.focusText {
	font-size: 48px;
}
.homeContainer {
	width: 65%
}
.personalLinks {
	font-size: 24px;
}